@font-face{
    font-family: 'OpenSans-Regular';
    src: url('../fonts/Regular/OpenSans-Regular.eot');
    src: url('../fonts/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Regular/OpenSans-Regular.woff') format('woff'),
        url('../fonts/Regular/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/Regular/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/Regular/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-style: normal;
}