$primary-text-color: #a3a3a8;
$heading-text-color: #4c4f59;
$primary-blue: #007aff;
$light-text-color: #8e8e93;
$friends-color: #00dcff;
$personal-color: #9200ff;
$clients-color: #ff7100;
$family-color: #d0db00;
$archives-color: #6f6e74;
$search-icon: #b4b0af;